@charset "UTF-8";

@import "compass/css3";
@import "vars";

body {
  position: relative;
  background: white;
  -webkit-font-smoothing: antialiased;
  font-family: "din";
}

#intro {
  position: fixed;

  .carousel {
    & > div {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  width: 100%;
  height: 100%;

  .center {
    text-align: center;
    margin: 300px auto 0 auto;

    h2 {
      font-family: "din-bold";
      font-size: 2.75rem;
      color: #fff;
    }

    span {
      font-size: 1.3rem;
      color: $primary-color;
      margin-right: 25px;
    }

    .button {
      @include border-radius(10px);
      margin-top: 75px;
      padding: 10px 30px;
    }
  }
}

html, body, #site {
  height: 100%;
  min-height: 100%;
}

#site {
  .address {
    span {
      font-family: 'din-light';
      font-size: 1.4vw !important;
      font-style: normal !important;
    }

    h2 {
      font-family: 'din-bold';
      color: white;
      font-size: 48px !important;;
      font-size: 3.0rem !important;;
      font-size: 2.5vw !important;;
    }
  }

  .contact-social-link {
    a {
      color: #fff;
    }
  }

  .projets-list {
    margin-top: 25px;

    .projet {
      box-sizing: border-box;
      float: left;
      position: relative;
      display: block;
      padding: 10px;

      @media #{$small-only} {
        height: 300px;
        width: 100%;
      }

      @media #{$medium-only} {
        height: 350px;
        width: 50%;
      }

      @media #{$large-up} {
        height: 450px;
        width: 33%;
      }

      .wrapper {
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;

        .thumb {
          @include single-transition(transform, 0.5s);
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: cover;
          z-index: -1;
        }

        figcaption.title {
          @include single-transition(opacity, 0.5s);
          display: table;
          width: 100%;
          height: 100%;
          opacity: 0;

          .text-wrapper {
            display: table-cell;
            vertical-align: middle;

            & > span {
              display: block;
              width: 100%;
              padding: 15px 0;
              text-align: center;
              background: rgba(80, 1, 28, 0.6);
              color: #fff;
              font-size: 1.3rem;
            }
          }
        }

        &:hover {
          .thumb {
            @include transform(scale(1.1) translateY(-10px));
            @include single-transition(transform, 0.5s);
          }

          figcaption.title {
            background: rgba(80, 1, 28, 0.2);
            opacity: 1;
          }
        }
      }
    }
  }
}

header {
  height: 193px;
  .top-bar {
    position: relative;

    svg.shape {
      position: absolute;
    }

    .name {
      padding: 20px 250px 0 40px;
      h1 {
        font-size: 0.718rem;
        line-height: 1rem;
      }
    }

    ul.nav {
      a, li {
        font-weight: lighter;
        font-family: "din-light";
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 0px;
        display: inline;
        color: #000;
      }

      li {
        &:after {
          padding: 0 10px;
          content: "/";
        }

        &:last-of-type:after {
          content: "";
        }

        &.nav-selected {
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 60px;
}

#ccm-highlighter {
  margin-top: -49px;
}

@import "overlay/svgLoader";